{% extends 'base2.html' %}
{% block title %}个人密码设置{% endblock %}
{% block content %}
<h3 style="margin-top: 0">修改密码</h3>
<form role="form" class="form-horizontal" method="post" action="">
    {% csrf_token %}
    {{ form.id }}
    {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-9">
                {{ field }}
                {% if field.help_text %}
                    <span class="help-block">{{ field.help_text }}</span>
                {% endif %}
                {% for error in field.errors %}
                    <label class="control-label">{{ error }}</label>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </div>
</form>
{% endblock %}