{% extends 'messbase.html' %}

{% block title %}收信箱{% endblock %}

{% block page_header %}收信箱{% endblock %}

{% block container %}
  {% if messages %}
  <ul class="conversation">
      {% for message in messages %}
          {% include 'message/partial_message.html'%}
      {% endfor %}
      <li class="send-message">
          <div style="margin-top: .3em">
              <form role="form" method="post" action="" id="send">
                  <input type="hidden" name="to" value="{{ active }}">
                  <input class="form-control" type="text" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off">
              </form>
          </div>
      </li>
  </ul>
  {% else %}
      <h4>Your inbox is empty!</h4>
  {% endif %}
{% endblock container %}